div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Gráfica
    div.btn-toolbar.mb-2.mb-md-0
        div.btn-group.me-2
            button(type="button").btn.btn-sm.btn-outline-secondary Compartir
            button(type="button").btn.btn-sm.btn-outline-secondary Exportar
        
        button(type="button").btn.btn-sm.btn-outline-secondary.dropdown-toggle
            span(data-feather="calendar")
            span Esta semana


canvas.my-4.w-100#myChart(width="900" height="380")
