mixin btn(text)
    button.btn.btn-primary= text

mixin btn-double(text1, text2)
    div.btn-group.me-2
        button(type="button").btn.btn-sm.btn-outline-secondary= text1
        button(type="button")#show-modal.btn.btn-sm.btn-outline-secondary= text2 