extends ../templates/template

block content
    //- ***** Top Bar *****
    include ../includes/TopBar

    //- Main Area
    <div class="container-fluid">
        <div class="row">
            //- ***** Menu *****
            include ../includes/Menu
            //- Content Table
            include ../includes/ContentMain
        </div>
    </div>

